* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 320px;
    max-height: 1000px;
    font-family: 'TT Lakes', sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    margin-bottom: 10px;
    margin-top: 20px;
}

.header__element {
    cursor: pointer;
}

.header-left {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    gap: 20px;
}

.header-right {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.main {
    display: flex;
    flex-direction: column;
}

.main-buttons {
    display: flex;
    justify-self: left;
    align-items: center;
    border: none;
    outline: none;
    background-color: rgb(255, 255, 255);
    margin-top: 25px;
    padding-left: 20px;
    height: 30px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    transition: color 0.2s ease-in-out;
}

.main-buttons:hover,
.main-buttons:focus {
    color: rgb(150, 150, 150);
}

.main-buttons::before {
    content: '';
    position: absolute;
    left: 0;
    width: 4px;
    height: 30px;
    background-color: rgb(35, 210, 255);
    transition: opacity 0.2s ease-in-out;
    opacity: 0;
}

.main-buttons:hover::before,
.main-buttons:focus::before {
    opacity: 1;
}

.footer {
    margin-top: 100%;
    margin-left: 20px;

}

.footer__supportbtns {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
    cursor: pointer;
}

.email {
    display: flex;
    border: none;
    outline: none;
    background-color: white;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
    cursor: pointer;
}

.phone {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 30px;
    cursor: pointer;
}

.footer__language {
    display: flex;
    gap: 10px;

}

.language {
    border: none;
    outline: none;
    background-color: white;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 50px;
    cursor: pointer;
}

.language:focus {
    color: rgb(150, 150, 150);
}